body {
    padding: 0px;
    margin: 0px;
    .about_us {
        background-color: lightgray;
    }
    .customer_review .row {
        background-color: #01094c;
        color: white;
    }
    .customer_open .row {
        background-color: #01094c;
        color: white;
    }
}